<h3>Quản Lý Kích Thước</h3>
<div class="timkiem">
  <input
    class="input-group-text"
    id="name"
    type="text"
    placeholder="Tìm theo tên kích thước.."
  />
  <button class="btn btn-dark" ng-click="search()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
<div>
  <div style="float: right">
    <a href="#/sizes/add">
      <button class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Thêm
      </button>
    </a>
    <button class="btn btn-info" ng-click="exportToExcel()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0,0,256,256"
      ></svg>
      Xuất Exel
    </button>
  </div>
  <ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="active-tab"
        data-bs-toggle="tab"
        href="#active"
        >Đang Hoạt Động</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="inactive-tab"
        data-bs-toggle="tab"
        href="#inactive"
        >Ngừng Hoạt Động</a
      >
    </li>
  </ul>

  <div class="tab-content mt-2">
    <div class="tab-pane fade show active" id="active">
      <table id="tblActiveSizes" class="table">
        <thead>
          <tr>
            <td scope="col">#</td>
            <td scope="col">ID Kích Thước</td>
            <td scope="col">Tên Kích Thước</td>
            <td scope="col">Mô Tả</td>
            <td scope="col">Hành Động</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dm in pager.items">
            <td>{{$index + 1}}</td>
            <td>{{dm.id}}</td>
            <td>{{dm.name}}</td>
            <td>{{dm.description}}</td>
            <td>
              <a href="#/sizes/update/{{dm.id}}">
                <button class="btn btn-indigo">Sửa</button>
              </a>
              <button
                style="margin-top: 5px"
                class="btn btn-danger"
                ng-click="delete(dm.id)"
              >
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button
            ng-click="activeSizesPager.first()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angles-left"></i>
          </button>
          <button
            ng-click="activeSizesPager.prev()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            {{activeSizesPager.page+1}} of {{activeSizesPager.count}}
          </button>
          <button
            ng-click="activeSizesPager.next()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angle-right"></i>
          </button>
          <button
            ng-click="activeSizesPager.last()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="inactive">
      <table id="tblInactiveSizes" class="table">
        <thead>
          <tr>
            <td scope="col">#</td>
            <td scope="col">ID Kích Thước</td>
            <td scope="col">Tên Kích Thước</td>
            <td scope="col">Mô Tả</td>
            <td scope="col">Hành Động</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dm in pagerStop.items">
            <td>{{$index + 1}}</td> 
            <td>{{dm.id}}</td>
            <td>{{dm.name}}</td>
            <td>{{dm.description}}</td>
            <td>
              <button
                style="margin-top: 5px"
                class="btn btn-success"
                ng-click="restore(dm.id)"
              >
                Kích Hoạt
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button
            ng-click="pagerStop.first()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angles-left"></i>
          </button>
          <button
            ng-click="pagerStop.prev()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            {{pagerStop.page+1}} of {{pagerStop.count}}
          </button>
          <button
            ng-click="pagerStop.next()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angle-right"></i>
          </button>
          <button
            ng-click="pagerStop.last()"
            type="button"
            class="btn btn-outline-secondary"
          >
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
