<h3>Quản Lý Kích Thước</h3>
<div class="timkiem">
  <input
    class="input-group-text"
    id="name"
    type="text"
    placeholder="Tìm theo tên kích thước.."
  />
  <button class="btn btn-dark" ng-click="search()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
<div>
  <div style="float: right">
    <a href="#/sizes/add">
      <button class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Thêm
      </button>
    </a>
    <button class="btn btn-info" ng-click="exportToExcel()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0,0,256,256"
      >
        <!-- Replace this with your actual SVG code for the export icon -->
      </svg>
      Xuất Exel
    </button>
  </div>
  <div class="container mt-5">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="mySizeTabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="active-tab"
          data-bs-toggle="tab"
          href="#activeSizes"
        >
          Đang Hoạt Động
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="inactive-tab"
          data-bs-toggle="tab"
          href="#inactiveSizes"
        >
          Ngừng Hoạt Động
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-2">
      <div class="tab-pane fade show active" id="activeSizes">
        <table id="tblSize" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID Kích Thước</th>
              <th scope="col">Tên Kích Thước</th>
              <th scope="col">Mô Tả</th>
              <th scope="col">Hành Động</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="size in pager.items">
              <td>{{$index + 1}}</td>
              <td>{{size.id}}</td>
              <td>{{size.name}}</td>
              <td>{{size.description}}</td>
              <td>
                <a href="#/sizes/update/{{size.id}}">
                  <button class="btn btn-indigo">Sửa</button>
                </a>
                <button
                  style="margin-top: 5px"
                  class="btn btn-danger"
                  ng-click="delete(size.id)"
                >
                  Xóa
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="inactiveSizes">
        <table id="tblInactiveSize" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID Kích Thước</th>
              <th scope="col">Tên Kích Thước</th>
              <th scope="col">Mô Tả</th>
              <th scope="col">Hành Động</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="size in pagerStop.items">
              <td>{{$index + 1}}</td>
              <td>{{size.id}}</td>
              <td>{{size.name}}</td>
              <td>{{size.description}}</td>
              <td>
                <button
                  style="margin-top: 5px"
                  class="btn btn-danger"
                  ng-click="restore(size.id)"
                >
                  Khôi Phục
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button
        ng-click="pager.first()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <button
        ng-click="pager.prev()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        {{pager.page + 1}} of {{pager.count}}
      </button>
      <button
        ng-click="pager.next()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-angle-right"></i>
      </button>
      <button
        ng-click="pager.last()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </div>
</div>
